{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Cadastro - Minha Página Django" %}
{% endblock %}

{% block content %}
    <header>
        <h1 class="text-center">{% trans "Cadastro de Usuário" %}</h1>
    </header>
    <main class="mt-4">
        <h2 class="text-center">{% trans "Cadastro" %}</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="auth-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Cadastrar" %}</button>
                </form>
                <form action="{% url 'login' %}" method="get" class="mt-3">
                    <button type="submit" class="btn btn-secondary btn-block">{% trans "Já possui uma conta? Faça login" %}</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
