<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título da Página{% endblock %}</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Seu arquivo de estilos customizados -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% load i18n %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{% block navbar-brand %}Projeto Pitão{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% block navbar-items %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Sobre" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Contato" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" href="{% url 'registro_veicular' %}">{% trans "Registro Veicular" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-white" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger nav-link">{% trans "Sair" %}</button>
                    </form>
                </li>
                {% endblock %}
            </ul>
        </div>
    </nav>

    <!-- Container Principal -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>&copy; 2024 Oscar. Todos os direitos reservados.</p>
    </footer>

    <!-- Scripts JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
