{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Registro de Uso do Veículo" %}{% endblock %}

{% block content %}
    <header>
        <h1>{% trans "Registro de Uso do Veículo" %}</h1>
    </header>
    <main>
        <h2>{% trans "Preencha o formulário abaixo" %}</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Registrar" %}</button>
        </form>
    </main>
{% endblock %}
